$background: #0D1E28;
$light-blue: #CDE4E8;
$medium-dark-blue: #7499A5;
$black: #000;
$Grey: #656363;
$white: #fff;
$light-salmon: #DCDADA;
$red: #BC0808;
$limon :#70FE76;
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: $background;
}

#container {
  position: relative;
  .img {
    width: 60vw;
    height: 350px;
    position: relative;
    top: -130px;
    left: 275px;
    background-image: url(../img/grup-circo.svg);
    background-repeat: no-repeat;
    background-position: center center;
  }

  .title {
    width: 17.75rem;
    margin: 0 auto;
    position: relative;
    top:-300px;
    background: linear-gradient(90deg,#3b8199,#236d85);
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3.2rem;
    font-weight: 700;
  }
  .todo-form {
    display: flex;
    justify-content: center;
    position: relative;
    top: -150px;
    
    input:nth-child(1) {
      width: 37.5rem;
      height: 35px;
      position: absolute;
      top: -50px;
    }
    input:nth-child(2) {
      width: 37.5rem;
      height: 35px;
    }
    .input-form {
      border-radius: 7px;
      padding-left: 10px;
      border:none;
      outline: 0;
    }
  }
  button {
    width: 12.5rem;
    height: 70px;
    position: absolute;
    top: 60px;
    right: 36.80rem;
    border-radius: 20px;
    cursor: pointer;
    background-color: $medium-dark-blue;
    color: $black;
    outline: 0;
    border: none;
    font-weight: 600;
    box-shadow: 4px 6px 15px rgba(254, 250, 250, 0.05);
  
  }
}
