$background: #0D1E28;
$light-blue: #CDE4E8;
$medium-dark-blue: #7499A5;
$black: #000;
$Grey: #656363;
$white: #fff;
$light-salmon: #DCDADA;
$red: #BC0808;
$limon :#70FE76;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter';
}

body {
  background-color: $background;
}

#container {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 15px;
  position: relative;

  // border: 1px solid rgb(142, 20, 20);
}

.img {
  width: 50vw;
  height: 350px;
  position: absolute;
  top: -170px;
  background-image: url(../img/grup-circo.svg);
  background-repeat: no-repeat;
  background-position: center center;
  opacity: 0.7;
}

.title {
  width: 17.75rem;
  margin: 0 auto;
  position: relative;
  top: 10px;
  background: linear-gradient(90deg, #428da5, #09303d);
  text-transform: uppercase;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 3.2rem;
  font-weight: 700;
}

.todo-form {
  position: relative;
  height: 220px;
  display: flex;
  flex-direction: column;
  margin: 0 0.5rem;

  .input-form {
    width: 37.5rem;
    height: 40px;
    border-radius: 7px;
    padding-left: 10px;
    border: 0;
    outline: 0;
    background-color: $medium-dark-blue;
    margin: 1rem;
    font-weight: 700;
  }
  .input-form::placeholder {
    color: #383838;
  }

  .btn {
    display: flex;
    justify-content: center;
  }

  button {
    width: 12rem;
    height: 70px;
    position: absolute;
    top: 70%;
    border-radius: 20px;
    cursor: pointer;
    background-color: $medium-dark-blue;
    color: $black;
    border: none;
    font-weight: 600;
    font-size: 1.5rem;
    box-shadow: 4px 6px 15px rgba(254, 250, 250, 0.05);
    transition: 0.5s;

    &:hover {
      background-color: #698994;
    }
  }
}


.todo-list {
  display: flex;
  width: 36.5rem;
  flex-direction: column;
  gap: 15px;

  .todo-item {
    position: relative;
    padding: 10px 0;
    .trash {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 20px;
      bottom: 40px;
      background-image: url(../img/trash.svg);
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }
    .edit {
      width: 25px;
      height: 25px;
      position: absolute;
      right: 70px;
      bottom: 40px;
      background-image: url(../img/edit.svg);
      background-size: contain;
      background-repeat: no-repeat;
      cursor: pointer;
    }

    input[type='checkbox'] {
      width: 18px;
      height: 18px;
      margin-left: 3px;
      font: inherit;
      cursor: pointer;
    }

    .content-tarefa {
      position: absolute;
      left: 35px;
      color: $light-blue;

    }

    .description {
      color: $medium-dark-blue;
    }

    input[type='checkbox']:checked+label {
      text-decoration: line-through;
      color: $Grey;
      transition: .3s;
      transition-duration: .5s;
    }

    .line {
      width: 100%;
      height: 1px;
      background-color: $Grey;
      border-radius: 4px;
      margin: 3px 0;
    }
  }
}

.footer {
  width: 36.5rem;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  background-color: #7499a5;
  border-radius: 5px;
 
  .icon-share {
    background-image: url(../img/share.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
  .icon-trash {
    background-image: url(../img/trash-2.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 25px;
    height: 25px;
    cursor: pointer;
  }
}